<div class="container-fluid">
  <div class="row page-header">
    <div class="col-lg-12">
      <img src="assets/images/logo.png" alt="logo" style="width: 175;height: 60;">
	  <div class="float-right logout"><a [routerLink]="['login']" class="btn btn-warning">Logout</a></div>
    </div>
    <div class="col-lg-6 offset-lg-3">
      <h1 class="text-center">How can we help?</h1>
	  <form>
		  <div class="form-group">
			<label class="sr-only" for="inlineFormInputGroup">Search</label>
		  <div class="input-group mb-2">
			<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search">
			<div class="input-group-prepend">
			  <div class="input-group-text">@</div>
			</div>
			<div class="input-group-prepend">
			  <div class="input-group-text">@</div>
			</div>
		  </div>
		  </div>
		</form>
	  <p class="text-center">
	     <strong>Popular help topics: </strong> 
	     <a href="https://docs.devicewise.com/Content/Products/Management_Portal/Developer/Triggers/Triggers.htm" style="color: white;">Cloud triggers</a>, 
		 <a href="https://docs.devicewise.com/Content/Products/IoT_Portal_API_Reference_Guide/IoT-Portal-API-Reference-Guide.htm" style="color: white;">APIs</a>, 
		 <a href="https://docs.devicewise.com/Content/Products/GatewayDevelopersGuide/Workbench/The-Workbench.htm" style="color: white;">deviceWISE Workbench</a>
	  </p>
    </div>
  </div>  
 </div>
<div class="page-content">
   <div class="container-fluid briefcontent">
   <div class="row">
    <div class="col-lg-10 offset-lg-1">
		<div class="card-deck">
		  <div class="card">
			<img src="assets/images/Knowledgebase-Column.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">Getting Started</h5>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Introduction/IoT-Platform-Introduction.htm">Introduction</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/GettingStarted/Getting-Started-with-IoT-Platform.htm">IoT Platform</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/GettingStarted/Getting-Started-with-Gateways.htm">IoT Gateways</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/GettingStarted/Getting-Started-with-LWM2M.htm">LWM2M</a></p>
			</div>
		  </div>
		  <div class="card">
			<img src="assets/images/development-software.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">IoT Portal</h5>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/AppCenter/Tour-of-AppCenter-UI.htm" class="MCXref xref">App Center</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/Management_Portal/Management-Portal-Users-Guide.htm">Management Portal Users Guide</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/IoT_Portal_API_Reference_Guide/IoT-Portal-API-Reference-Guide.htm">IoT Portal APIs</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/FOTA/FOTA.htm">FOTA</a></p>
			</div>
		  </div>
		  <div class="card">
			<img src="assets/images/gateway.jpg" class="card-img-top" alt="...">
			<div class="card-body">
			  <h5 class="card-title">IoT Gateways</h5>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/GatewayDevelopersGuide/Workbench/The-Workbench.htm">Workbench</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/GatewayDevelopersGuide/Projects_Triggers/Projects-and-triggers.htm">Project and Triggers</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/GatewayDevelopersGuide/Enterprise-connectivity.htm">Enterprise Connectivity</a></p>
			  <p class="card-text"><a href="https://docs.devicewise.com/Content/Products/GatewayDevelopersGuide/TR50.htm">TR50</a></p>
			</div>
		  </div>
		</div>
    </div>
	</div>
    </div>	
	<section class="maincontent">
	<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-6">
      <img src="assets/images/cloud-trigger.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">Cloud Triggers</h5>
        <p class="card-text">A cloud trigger is an individual portion of the overall application logic that is created to solve a need. Each cloud trigger has an event type that identifies when the cloud trigger is executed and one or more actions that contain the application logic.</p>
		<ul>
		  <li><a href="https://docs.devicewise.com/Content/Products/Management_Portal/Developer/Triggers/Events/Cloud-Trigger-Events.htm">Events</a></li>
		  <li><a href="https://docs.devicewise.com/Content/Products/Management_Portal/Developer/Triggers/Actions/Cloud-Trigger-Actions.htm">Actions</a></li>
		  <li><a href="https://docs.devicewise.com/Content/Products/Management_Portal/Developer/Triggers/Example-cloud-trigger-use-cases.htm">Example Triggers</a></li>
		</ul>
		<a class="btn btn-warning" href="https://docs.devicewise.com/Content/Products/Management_Portal/Developer/Triggers/Triggers.htm">Cloud Triggers Overview</a>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3">
	
  <div class="row no-gutters">
    <div class="col-md-6">
		<div class="card-body">
        <h5 class="card-title">IoT Portal APIs</h5>
        <p class="card-text">The IoT Portal APIs are used by an application program to interface with the IoT Portal. The API documentation is organized by the service category, and then the individual commands within the service</p>
		<ul>
		  <li><a href="https://docs.devicewise.com/Content/Products/IoT_Portal_API_Reference_Guide/IoT-Portal-API-Reference-Guide.htm">Overview</a></li>
		  <li><a href="https://docs.devicewise.com/Content/Products/IoT_Portal_API_Reference_Guide/C_Library/C-Library.htm">C Library</a></li>
		  <li><a href="https://docs.devicewise.com/Content/Products/IoT_Portal_API_Reference_Guide/JAVA_Library/JAVA-Library.htm">JAVA Library</a></li>
		</ul>
		<a class="btn btn-warning" href="https://docs.devicewise.com/Content/Products/IoT_Portal_API_Reference_Guide/IoT-Portal-API-Reference-Guide.htm">API Reference Guide</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/api-icons.jpg" class="card-img" alt="...">
    </div>
  </div>
</div>
	</section>
</div>
<div class="container-fluid page-footer">
	<div class="row footer-list">
	  <div class="col-lg-10 offset-lg-1">
	     <div class="row">
		  <div class="col-lg-3 col-md-6 ftsitemap">
			<h5>Legal</h5>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/LegalNotice/Service-Level-Agreement.htm">Service Level Agreement</a></li>
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/LegalNotice/Support-Services-Agreement.htm">Support Services Agreement</a></li>
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/LegalNotice/Terms-of-Service.htm">Terms of Service</a></li>
			</ul>
		  </div>
		  <div class="col-lg-3 col-md-6 ftsitemap">
			<h5>Release Notes</h5>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/Release_Notes/IoT-Portal/IoT-Portal-19.06-Release-Notes.htm">Telit IoT Portal</a></li>
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/Release_Notes/IoT-Gateway/IoT-Gateway-19.1.6-Release-Notes.htm">Telit IoT Gateway</a></li>
			</ul>
		  </div>
		  <div class="col-lg-3 col-md-6 ftsitemap">
			<h5>Support</h5>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><a href="https://www.telit.com/support-training/services-technical-support/">Technical Support</a></li>
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/TechnicalSupport/Creating-a-Support-Case.htm">Creating Support Case</a></li>
			  <li class="list-group-item"><a href="https://www.telit.com/contact-us/">Contact Us</a></li>
			</ul>	
		  </div>
		  <div class="col-lg-3 col-md-6 ftsitemap">
			<h5>Policies</h5>
			<ul class="list-group list-group-flush">
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/LegalNotice/Privacy-Policy.htm">Privacy Policy</a></li>
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/LegalNotice/Return-Policy.htm">Return Policy</a></li>
			  <li class="list-group-item"><a href="https://docs.devicewise.com/Content/LegalNotice/Third-Party-Software.htm">Third Party Software</a></li>
			</ul>
		  </div>
		  </div>
		</div>  
	</div> 
	<div class="row footer-copy">
	   <div class="col-lg-2">
	      <a href="#"><img src="assets/images/telit-logo.png" alttext="" class="Hyperlinked footer-logo" style="width: 81;height: 47;"></a>
	   </div>
	   <div class="col-lg-8 vmidcp">
	      <p class="Copyright text-center">Copyright © <span class="TelitYear">2019</span> <span class="TelitCompanyName">Telit IoT Platform</span></p>
	   </div>
	   <div class="col-lg-2 vmidsocial">
	      <a href="https://twitter.com/telit" target="_blank"><img src="assets/images/TwitterIcon.png" alttext="" class="Hyperlinked"></a>
		  <a href="http://www.facebook.com/telitwireless" target="_blank"><img src="assets/images/FacebookIcon.png" alttext="" class="Hyperlinked"></a>
		  <a href="https://www.youtube.com/user/telitcommunications" target="_blank"><img src="assets/images/YouTubeIcon.png" alttext="" class="Hyperlinked"></a>
	   </div>
	</div> 
</div>
  
  